
.header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px;
    color:antiquewhite;
    top: 0;
}
.row{
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
}
.row :hover{
    background-color: aliceblue;
    color:blueviolet;
}
.col-sm-4{
    display: flex;
    height: 90vh;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.azul{
    background-color: aqua;
}
.verde{
    background-color: greenyellow;
}
.vermelho{
    background-color: rgb(233, 94, 94);
}

a{
    text-decoration: none;
}
.input {
    background-color: rgb(253, 253, 136);
    height: 300px;
    width: 300px;
    padding: 15px;
}
.content{
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.rodape{
    height: 100px;
    background-color: rgb(59, 59, 59);
    padding-top: 10px;
}
.itens{
    margin-top: 50px;
    padding: 20px;
}
.sucesso{
    height: 300px;
    width: 400px;
    background-color:yellow;
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
